* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #800080;
    border: 1px solid red;
}

main {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.enterInitials {
    display: none;
}

.highscores-container {
    display: none;
}